.checkout {
  padding: 40px 0;
}

.checkout .heading {
  font-size: 3rem;
  padding-bottom: 20px;
}

.checkout .serviceEnabled {
  font-size: 1.5rem;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.checkout .serviceEnabled.totalBill {
  border-bottom: none;
}